.download1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 5rem;
  padding-top: 18rem;
  margin-top: -10rem;
  height: 48rem;
  position: relative;
  z-index: 0;
  background: #020917;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}
.download1 > img {
  width: 9rem;
  height: 2rem;
}
.headline {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}
.headline > span:nth-of-type(3) {
  font-size: 1rem;
  color: gray;
  font-weight: 400;
  padding: 0 15rem;
  text-align: center;
  margin-top: 2rem;
}
.DAds {
  margin-top: 4rem;
}
