.menu {
  display: flex;
}
.menu > ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style-type: none;
  color: white;
}
li {
  margin-right: 3rem;
}
li:hover {
  cursor: pointer;
}
